<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<connectionStrings>
  <add name="ERPConnectionString" connectionString="Server=DESKTOP-736IKPB;Database=dbErp;User ID=sa;Password=1234;"
   providerName="System.Data.SqlClient" />
  <add name="proyecto_erp.My.MySettings.dbErpConnectionString"
   connectionString="Data Source=.;Initial Catalog=dbErp;User ID=sa;Password=1234;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>